html {
    margin: 0;
    padding: 0;
}
body {
    background: #f00 no-repeat right top;
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    padding: 10px;
    margin: 0;
}
footer {
    border: 2px;
    background-color:purple;
}
h1 {
    font-size: 15pt;
    color: green;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 6px dashed purple;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
form {
    text-align:left;
    color:#123abc;
    background-color:#cabdab;
}
textarea {
    height: 100px; width: auto;
}
input, textarea {
    margin-bottom: 5px;
    text-align:left;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width:100%;
    outline: none;
}

li {
    margin-bottom: 15px;
    font-style: bold;
}
progress {
    width:50%;
    height: 20px;
    color: #3fb6b2;
    background: #600613;
    margin: 5px;
    position: relative;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
}
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 2px dashed #f36f48;
}
caption {
    font-weight:bold; font-size:24px;
}

input[type='checkbox'], input[type='radio']{width:auto; padding:auto; margin:auto;}

.question {color:black; text-align:left;}

.container-fluid{text-align:left;}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.myImg {
    display:block;
    margin-left:auto;
    margin-right:auto;
     height:100%;
     width:100%;
     border-style:ridge;
     border-radius:25pt;
     border-width: 3;
     border-color:#ffddcc;
}
.quote {
    font-size: 28pt;
    text-align: right;
    margin-top: 10px;
    font-weight: bolder;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
/*table stuff start */
table {
    width: 100%;
    overflow-x:auto;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;

}
td {
    border: 1px solid #cecece;
    text-align: center;
    table-layout: fixed;
    background-color:grey;
}
th {
    border: 1px solid #000;
    width: 12.5%;
}
th:nth-child(1) {
    width:6%;
}
th:nth-child(even){
    background-color:#ffffff;
}
th:nth-child(odd){
    background-color:lightgray;
}

.cellorange {
    background-color:orange;
    font-weight:bold;
    color:black;}
.cellpurple {
    background-color: #663399;
    font-weight: bold;
    color: white;
    border: 0 hidden #663399;
}
.cellyellow {
    background-color: #FFFF00;
    font-weight: bold;
    color: black;
    border: 0 hidden #FFFF00;
}
.borderb {
    border-bottom:0;
}
.bordert {
    border-top:0;
}
.borderr {
    border-right:0;
}
.borderl {
    border-left:0;
}
/*table stuff end */
/* header section start */
#header {
    background-image: url(../images/header.jpg);
    background-size: contain;
    background-repeat: round;
    width: 80%;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
/* header section end */
/* About Me section start */
#About {
  background-image: url("../images/floating-home.jpg");
  background-position: center top;
  background-size:cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: -1px 0 50px #00f, 1px 0 5px #000;
}
/* About Me section end */
/* Menu section end */
.MenuImg { /* menu should appear in middle, centered, text left-justified*/
    font-style: italic;
    color: #aaa;
    text-align:center;
    background-image:url("../images/ice-giant.jpg"), url("../images/forest.jpg"), url("../images/night-sky.jpg");
    background-position: left top, center top, right top;
    background-size:33.4% auto;
    background-repeat: no-repeat;
    background-color:rgb(192, 238, 195);
}
.Menu li {
    color: #fff;
    font-style: strong;
    text-align: center;
    text-shadow: 0 0 100px rgb(148, 7, 26), 0 0 25px #000;
}
.Menu a {
    color: #fff;
    font-style: strong;
    margin-left: auto;
    text-shadow: 0 0 100px rgb(148, 7, 26), 0 0 25px #000;
}
/* Menu section end */
/* Interests & Hobbies section start */
.InterestsHobbies {
  background-image: url("../images/sea-castle.jpg");
  background-size:cover;
  background-position:left top;
  background-repeat: no-repeat;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
/*  filter: alpha(Opacity=90);*/
/*  opacity: 1;*/
  color:#ffffff;
}
/* Interests & Hobbies section end */
/*Skills section start */
#Skills li {
    color:#600613;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#Skills {
    background-image: url(../images/forest-glade.jpg), url(../images/outerspace-blue-galactic-arm.jpg), url(../images/universe.jpg), url(../images/fox-spirit-of-forest.jpg);
    background-size:contain, contain, contain, contain;
    background-position:left top, left center, left center, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
/*Skills section end */
/*Places I Frequent section start */
#Haunts {
    background-image: url("../images/universe.jpg");
    background-size:cover;
    background-position:left top;
    background-repeat: no-repeat;
}
#Haunts li {
    color:#600613;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: right;
}
/*Places I Frequent section end */
/* Contact section start */
#Follow {
    text-align: center;
}
#Follow .squareImg {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#Follow .longImg {
    height: 50px;
    width: 100px;
    margin-left: 7px;
    margin-right: 7px;
}
#Follow a {
    text-decoration: none;
}
#Follow img:hover {
    opacity: 0.5;
}
/* Contact section end */